# Target modern browsers to reduce polyfills (Array.at, Object.hasOwn, etc.)
# Reduces ~12 KiB of "old JavaScript" in PageSpeed
last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 2 Edge versions
not dead
not IE 11
